@page "/order/placed"
@using UserFrontend.Frontend.Models.Order.Responses
@using UserFrontend.Frontend.Pages.Order.Orders.Details
@using UserFrontend.Frontend.Services.Contracts
<h3>Orders Placed</h3>

@if(orderCollection is not null)
{
    <div class="container">
        <div class="row">
            @foreach (var order in orderCollection.Orders)
            {
                <div class="col-3">
                    <OrderDetails Order="order"></OrderDetails>
                </div>
            }
        </div>
    </div>
}

@code {
    private OrderCollectionResponse orderCollection;

    [Inject]
    public IOrderService OrderService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var result = await OrderService.GetOrders();
        if (result)
            orderCollection = result.Data;
        else
            orderCollection = null!;
    }

}
