@* @page "/user/login"

@rendermode InteractiveServer
@using CustomerFrontEnd.Models.User.Requests
@using CustomerFrontEnd.Services.Contracts
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
<h3>Login</h3>

<EditForm Model="@request" OnSubmit=@LoginAsync>
    <div>
        <h3>Username</h3>
        <InputText @bind-Value=request.UserName></InputText>
    </div>
    <div>
        <h3>Password</h3>
        <InputText @bind-Value=request.Password></InputText>
    </div>
    <input type="submit" value="Login"/>
</EditForm>

@code {
    [Inject]
    private IUserService UserService { get; set; }
    [Inject]
    private IAuthenticationStorage AuthenticationStorage { get; set; }
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    LoginRequest request = new();


    private async Task LoginAsync()
    {
        var result = await UserService.LoginAsync(request);
        if(result is not null)
        {
            //await AuthenticationStorage.SetTokenAsync(result.Token);
            //AuthenticationStorage.Token = result.Token;
            //AuthenticationStorage.RefreshToken = result.RefreshToken;
            //await AuthenticationStateProvider.GetAuthenticationStateAsync();
            /StateHasChanged();
            NavigationManager.NavigateTo("");
        }
    }
}
 *@