@using UserFrontend.Frontend.Models.Order.Responses
<div>
    <h5>Order</h5>
    <p>@Order.Name</p>
    <p>@Order.Time.ToLocalTime()</p>
</div>
@code {
    [Parameter]
    public OrderResponse Order { get; set; }
}
