@page "/"
@attribute [AllowAnonymous]
@using UserFrontend.Frontend.Pages.User
@using UserFrontend.Frontend.Pages.User.Details
@using UserFrontend.Frontend.Services.UserAuthenticationStateProvider

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <div>
            <UserDetails User=UserAuthenticationStateProvider.CurrentUser />
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <p>Please login or create a user.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    [Inject]
    private UserAuthenticationStateProvider UserAuthenticationStateProvider { get; set; }
}