@page "/"
@using UserFrontend.Frontend.Services.UserAuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <p>@UserAuthenticationStateProvider.CurrentUser.CompanyName</p>
</div>

@code{
    [Inject]
    private UserAuthenticationStateProvider UserAuthenticationStateProvider { get; set; }
}