@page "/user/login"
@using UserFrontend.Frontend.Models.User.Requests
@using UserFrontend.Frontend.Services.Contracts
@using UserFrontend.Frontend.Services.UserAuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]
<h3>Login</h3>

<EditForm Model="@request" OnSubmit=@LoginAsync>
    <div>
        <h3>Company Name</h3>
        <InputText @bind-Value=request.UserName></InputText>
    </div>
    <div>
        <h3>Password</h3>
        <InputText @bind-Value=request.Password></InputText>
    </div>
    <input type="submit" value="Login"/>
</EditForm>


@code {
    [Inject]
    private UserAuthenticationStateProvider UserAuthenticationStateProvider { get; set; }

    LoginRequest request = new();


    private async Task LoginAsync()
    {
        await UserAuthenticationStateProvider.LoginAsync(request);
        NavigationManager.NavigateTo("");
    }
}
